<template>
  <div class="login">
    <div class="login__column">
      <div class="login__points">
        <div class="login__point">
          <p>
            VueChat is the largest, online community for Vue developers to learn, share their
            programming knowledge, and build their careers. It's basically a stackoverflow,
            but without JQuery.
          </p>
        </div>
        <div class="login__point">
          <h2>What is VueChat</h2>
          <p>
            Still not sure what it is?
            VueChat is a place where Vue developers from all over the world can ask questions,
            exchange expiriens, and simply chat :)
          </p>
        </div>
        <div class="login__point">
          <h2>Another advantages</h2>
          <p>It is simply the best chat for vue developers... What else can I say?..</p>
        </div>
      </div>
    </div>
    <div class="login__column">
      <form method="post" novalidate class="login__form">
        <h1 class="login__title"><span class="login__title--brand">Vue</span>Chat</h1>
        <label class="login__input">
          <input type="email" name="email" value="" placeholder="Email">
          <span>Email</span>
        </label>
        <label class="login__input">
          <input type="password" name="password" value="" placeholder="Password">
          <span>Password</span>
        </label>
        <button type="submit" class="login__submit login__button">sign in</button>
      </form>
      <div class="login__other-options">
        <span class="login__other-options__separator"><span>Sign in with</span></span>
        <a href="" class="login__button login__button--with-icon">
          <svg viewBox="0 0 24 24">
            <path fill="#7F8C8D" d="M21.35,11.1H12.18V13.83H18.69C18.36,17.64 15.19,19.27 12.19,19.27C8.36,19.27 5,16.25 5,12C5,7.9 8.2,4.73 12.2,4.73C15.29,4.73 17.1,6.7 17.1,6.7L19,4.72C19,4.72 16.56,2 12.1,2C6.42,2 2.03,6.8 2.03,12C2.03,17.05 6.16,22 12.25,22C17.6,22 21.5,18.33 21.5,12.91C21.5,11.76 21.35,11.1 21.35,11.1V11.1Z" />
          </svg>
          google
        </a>
        <a href="" class="login__button login__button--with-icon">
          <svg viewBox="0 0 24 24">
            <path fill="#7F8C8D" d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
          </svg>
          facebook
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.login {
  display: flex;
  &__column {
    width: 50%;
    & + & {
      border-left: 1px solid #ccc;
    }
  }
  &__points {
    margin: 0 0 0 auto;
    padding: 40px 80px 40px;
    max-width: 540px;
    text-align: left;
  }
  &__point {
    padding: 0 32px;

    h2 {
      color: #42b983;
      font-size: 24px;
      margin: 0;
      padding: 12px 0;
    }

    p {
      color: #7f8c8d;
      font-size: 16px;
      margin: 0;
      padding: 16px 0;
    }
  }
  &__title {
    color: #2c3e50;
    font-size: 48px;
    font-weight: 300;
    text-align: left;
    margin: 24px 0;

    &--brand {
      color: #41b883;
    }
  }
  &__button {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border: 0;
    padding: 12px 34px;
    line-height: 1.5;
    border-radius: 24px;
    box-shadow: none;
    height: 48px;
    font-weight: 600;
    color: #7f8c8d;
    background-color: #f6f6f6;
    text-transform: uppercase;
    min-width: 48px;

    &:hover {
      opacity: 0.8;
    }

    & + & {
      margin-left: 8px;
    }

    &--with-icon {
      position: relative;
      padding-left: 48px;
      svg {
        position: absolute;
        left: 8px;
        top: 8px;
        width: 32px;
      }
    }
  }
  &__form {
    margin: 0 auto 36px;
    max-width: 350px;
    font-size: 16px
  }
  &__input {
    display: block;
    padding-top: 24px;

    position: relative;

    span {
      position: absolute;
      top: 8px;
      left: 20px;
      line-height: 16px;
      color: #8e8e8e;
      font-size: 14px;
      opacity: 0;
    }

    input {
      position: relative;
      width: 100%;
      border: 1px solid #ccc;
      background: #fff;
      padding: 10px 80px 10px 20px;
      border-radius: 24px;
      -webkit-appearance: none;
      line-height: 1.5;
      height: 48px;
      font-size: 16px;
      &:focus {
        outline: none;
        border-color: #42b983;
        + span {
          opacity: 1;
        }
      }
    }
  }

  &__submit {
    margin-top: 24px;
    color: #fff;
    width: 100%;
    background-color: #41b883;
  }
  &__other-options {
    max-width: 350px;
    margin: 0 auto 24px;
    &__separator {
      display: block;
      margin-bottom: 24px;
      color: #ccc;
      font-size: 14px;
      position: relative;

      span {
        position: relative;
        z-index: 1;
        background: #fff;
        padding: 0 30px;
      }

      &::before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        border-top: 1px solid #ccc;
      }
    }
  }
}
</style>
